---
import { cn } from '~/utils/merge'
const { class: className } = Astro.props
---

<h1 class={cn('mb-[0.4rem] font-serif text-5xl font-medium leading-[0.95] text-dark', className)}>
  <slot />
</h1>
